.video-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
.video-container-16x9 {
  padding-bottom: 56.25%;
}
.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
ul.all-tags {
  list-style: none;
  display: table-row;
}
ul.all-categories {
  list-style: none;
}
ul.all-categories li::before {
  color: ##715ACE;
  /* color of bullet or square */
  content: "\2937";
  /* Unicode of character to precede the list item */
  font-size: 1em;
  /* em or %*/
  padding-right: 1.1225em;
  /* use em*/
  position: relative;
  top: 0em;
  /* use em or % */
}
a.dotted {
  border-bottom: 2px solid #4a8fb5;
}
a.dotted:hover {
  border-bottom: 2px solid #4a8fb5;
}
.title, .entry-title, h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}
html {
  background-color: #ffffff;
}
body {
  color: #1F1D27;
  font-weight: 500;
}
a, a:active, a:visited, a:link {
  color: #1F1D27;
}
h2 {
  color: #1F1D27;
}
