.video-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
.video-container-16x9 {
  padding-bottom: 56.25%;
}
.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
ul.all-tags {
  list-style: none;
  display: table-row;
}
a.dotted {
  border-bottom: 1px dashed #69C7FA;
}
a.dotted:hover {
  border-bottom: 1px solid #69C7FA;
}
.title, .entry-title, h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}
html {
  background-color: #1F1D27;
}
body {
  color: #d6d6d6;
}
a, a:active, a:visited {
  color: #d6d6d6;
}
h2 {
  color: #d6d6d6;
}
