.video-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
.video-container-16x9 {
  padding-bottom: 56.25%;
}
.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
ul.all-tags {
  list-style: none;
  display: table-row;
}
a.dotted {
  border-bottom: 2px dashed #50B3CA;
}
