.video-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
.video-container-16x9 {
  padding-bottom: 56.25%;
}
.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}
.portfolio {
  width: 250px;
  max-width: 100%;
  margin-top: 50px;
}
ul.all-tags {
  list-style: none;
  display: table-row;
}
ul.all-categories {
  list-style: none;
  display: table-row;
}
a.dotted {
  border-bottom: 2px solid #43BCD4;
}
a.dotted:hover {
  border-bottom: 2px solid #43BCD4;
}
.title, .entry-title, h1 {
  font-family: 'Fira Sans', 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 42px;
}
span.intro {
  font-family: 'Fira Sans', 'Robot', sans-serif;
  font-weight: 900;
  font-size: 26px;
}
html {
  background-color: #ffffff;
}
body {
  color: #1F1D27;
  font-weight: 500;
}
a, a:active, a:visited, a:link {
  color: #1F1D27;
}
h2 {
  color: #1F1D27;
}
