{{ partial "header.html" . }}

<main class='main'>
  <section id='list' class='list-container'>
 <img src="/img/biglin.jpg" style="float:left;border-radius:4px;width:240px;height:240px;margin-right:10px;margin-bottom:30px;" title="Brent!" alt="picture of Brent Biglin">
 <span class="intro">Hello! <br><br> I'm Brent.</span>
  </section>
  {{ if .Content }}
  <article class='entry'>
    {{ partial "entry/content" . }}
  </article>
  {{ end }}
  <section id='list' class='portfolio-container'>
  <section class="portfolio">
    <span class="intro">Portfolio</span>
    <ul id="all-categories" class='all-categories'>
      <li><a class="dotted" href="/practice/research">Research</a></li>
      <li><a class="dotted" href="/practice/design">Design</a></li>
      <li><a class="dotted" href="/practice/development">Development</a></li>
    </ul>
    </section>
    <section class="portfolio">
    <span class='intro'>Tools & Methods</span>
    <ul id="all-tags" class='all-tags'>
      {{ range $name, $taxonomy := .Site.Taxonomies.tools }}
      <li><a class="dotted" href="{{ "/tools/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
      {{ end }}
    </ul>
    </section>
  </section>
</main>

{{ partial "footer.html" . }}
